security:
  password_hashers:
    Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
      algorithm: 'auto'

  providers:
    app_user_provider:
      entity:
        class: App\Entity\User
        property: email

  firewalls:
    api:
      pattern: ^/api
      stateless: true
      entry_point: jwt
      json_login:
        check_path: /api/login
        username_path: email
        password_path: password
        success_handler: lexik_jwt_authentication.handler.authentication_success
        failure_handler: lexik_jwt_authentication.handler.authentication_failure
      jwt: ~
      refresh_jwt:
        check_path: /api/token/refresh
      logout:
        path: /api/logout

  access_control:
    # Public routes
    - path: ^/api/(login|token/refresh)
      roles: PUBLIC_ACCESS

    # User creation (public)
    - path: ^/api/users$
      methods: [ POST ]
      roles: PUBLIC_ACCESS

    # Secure all other user endpoints
    - path: ^/api/users
      roles: ROLE_USER

    # Admin-only routes
    - path: ^/api/admin
      roles: ROLE_ADMIN

when@test:
  security:
    password_hashers:
      Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
        algorithm: auto
        cost: 4 # Lowest possible value for bcrypt
        time_cost: 3 # Lowest possible value for argon
        memory_cost: 10 # Lowest possible value for argon
